In [ ]:
import numpy as np
import pandas as pd
w = np.arange(1, 9, dtype = float).reshape(4, 2)
frame_w = pd.DataFrame(w, columns = ['w1','w2'])
print (frame_w)

    w1   w2
0  1.0  2.0
1  3.0  4.0
2  5.0  6.0
3  7.0  8.0

In [ ]:
input = np.arange(1, 9, dtype = float).reshape(4, 2)
frame_a = pd.DataFrame(input, columns = ['a1', 'a2'])
frame_a ['a1'] = 1
frame_a ['a2'] = 1
print (frame_a)

   a1  a2
0   1   1
1   1   1
2   1   1
3   1   1

In [ ]:
output = np.arange(1, 5, dtype = float).reshape(4, 1)
frame_b = pd.DataFrame(output, columns = ['b1'])
frame_b ['b1'] = 1
print (frame_b)

   b1
0   1
1   1
2   1
3   1